.aside {

  background-color: #f8f9fb;
}

.wrapper {
  height: 100vh;
  position: fixed;
  width: 335px;
}

.simplebarContent {
  height: 100vh;
  background-color: #f4f5f7;
}


.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
  }

}

.logo__link {
  display: flex;
  cursor: pointer;
  padding-top: 70px;
  justify-content: center;
  margin-bottom: 25px;
}


.logo {
  height: 110px;
  width: 110px;
}


.profile {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 32px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0px 15px 50px rgba(58, 46, 68, 0.07);

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    border-radius: 20px;
    width: 80%;
    height: 35px;
    background-color: #ffffff;
    bottom: -15px;
    left: 10%;
    right: 0;
  }
}

.avatar__link {
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
  border: 3px solid #f8f9fb;
  position: relative;

}

.username {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.usertype {
  font-size: 14px;
  color: #626c72;
  padding-bottom: 10px;

}

.profile__nav {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: lightgrey;
  }
}

.profileItem {
  color: #626c72;
  margin: 0 10px;

  &__num {
    color: #9d6cf3;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
}


.bottom {
  border-right: 1px solid;
  border-color: #e7edf2;
   padding-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}